<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1 align="center">Ajouter une Catégorie</h1>

<form>
  <div class="form-group">
    <label for="nomCat">Nom</label>
    <input type="text" class="form-control" id="nomCat" ng-model="categorie.nom" placeholder="nom de la catégorie">
  </div>

  <button class="btn btn-default" ng-click="ajouterCat()"> Ajouter</button>
  <button type="reset" class="btn btn-danger"> Reset</button>
</form>

</body>
</html>