<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Accueil</a></li>
      <li><a href="#/gestion/addCat">Ajouter une Catégorie</a></li>
      <li><a href="#/gestion/allProd">Liste des produits</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        Search:  <input ng-model="searchText">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>

<!-- <nav class="navbar navbar-inverse"> -->
<!-- <div class="container-fluid"> -->
<!-- <ul class="nav nav-pills"> -->
<!--   <li role="presentation" class="active"><a href="#">Accueil</a></li> -->
<!--   <li role="presentation"><a href="#/gestion/addCat">Ajouter une Catégorie</a></li> -->
<!--   <li role="presentation"><a href="#/gestion/allProd">Liste des produits</a></li> -->
<!--   </ul> -->
<!--   <form class="navbar-form navbar-left"> -->
<!--   <div class="form-group"> -->
<!--   <label style="color:blue;">Search: </label> -->
<!--   <input ng-model="searchText"> -->
<!--   </div> -->
<!--   </form> -->

<!-- </div> -->
<!-- </nav> -->

	<div align="center">
		<table cellspacing="0" width="25%">
			<tr>
				<td
					style="background-color: lightblue; color: darkgreen; font-size: 22pt"
					align="center">Liste Des Categories</td>
		</table>
	</div>
	<br />
	<br />
	<table class="table table-hover">
		<thead>
			<tr bgcolor="grey" style="color: white; font-size: 18pt">
				<td align="center"><b>Id de la catégorie</b></td>
				<td align="center"><b>Nom de la catégorie</b></td>
				<td align="center"><b>Opération</b></td>
			</tr>
		</thead>
		<tbody bgcolor="azure">
			<tr ng-repeat="cat in allCat| filter:searchText">
				<td align="center"><b>{{cat.id_categorie}}</b></td>
				<td align="center"><b>{{cat.nom}}</b></td>
				<td align="center"><button ng-click="bouttonProduit(cat)"
						class="btn btn-info">Voir les produits</button>
					<button ng-click="bouttonDelete(cat)" class="btn btn-danger">Supprimer</button></td>
			</tr>
		</tbody>
	</table>
	
	<a href="#/gestion/addCat">Ajouter une Catégorie</a>
	
	<a href="#/gestion/allProd">Liste des Produits</a>

</body>
</html>