<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<h1 align="center">Liste des Catégories</h1>

<label>Search: <input ng-model="searchText"></label>

<table class="table table-hover">
	<thead>
		<tr>
			<td>Id de la catégorie</td>
			<td>Nom de la catégorie</td>
			<td>Opération</td>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="cat in allCat| filter:searchText" >
	<td>{{cat.id_categorie}}</td>
		<td>{{cat.nom}}</td>
		<td><button ng-click="bouttonDelete(cat)" class="btn btn-danger">Supprimer</button>
		</tr>
	</tbody>
</table>



</body>
</html>