<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="/Projet_Ecommerce_AngularJS/">Home</a></li>
		<li role="presentation" class="dropdown"><a
			href="#/client/allProd" class="dropdown-toggle"
			data-toggle="dropdown" role="button" aria-haspopup="true"
			aria-expanded="false">Actions <span class="caret"></span>
		</a>
			<ul class="dropdown-menu">
				<li><a href="#/client/panier">Aller au panier</a></li>
				<li><a href="#/gestion/ident">Accès gestionnaire</a></li>
				<li><a href="#/client/ident">Se connecter</a></li>
			</ul>
	</ul>

	<br>
	<br>
	<br>
	<br> Rechercher :
	<input type="text" ng-model="search.$">
	<br><br>

	<table class="table table-striped">
		<thead>
			<tr bgcolor="grey" style="color: white; font-size: 18pt">
				<td>Id</td>
				<td>Nom</td>
				<td>Description</td>
				<td>Prix</td>
				<td>Quantité</td>
				<td>Actions</td>
			</tr>
		</thead>


		<tbody ng-repeat="prod in allProd | filter : search : strict" style="background-color: azure;">
			<td>{{prod.id_produit}}</td>
			<td>{{prod.nom}}</td>
			<td>{{prod.description}}</td>
			<td>{{prod.prix}}</td>
			<td>{{prod.quantite}}</td>
			<td><button class="btn btn-primary btn-lg"
					ng-click="doAddPanier(prod)">
					<span class="glyphicon glyphicon-shopping-cart"></span>Ajouter au
					panier
				</button></td>
		</tbody>
	</table>

</body>
</html>