<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/gestion/allCat">Liste des Catégories</a></li>
      <li class="active"><a href="#/gestion/allProd">Liste des produits</a></li>
      <li><a href="#/gestion/addCat">Ajouter une Catégorie</a></li>
      <li><a href="#/gestion/addProd">Ajouter un Produit</a></li>
    </ul>
    <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
    <a href="#/gestion/ident"><span class="glyphicon glyphicon-log-out">Deconnexion</span></a>
    </form>
    
  </div>
</nav>

<br/>
<br/>

<table class="table table-hover">
	<thead>
	<tr bgcolor="grey" style="color: white; font-size: 18pt">
		<td align="center"><b>Id</b></td>
		<td align="center"><b>Nom</b></td>
		<td align="center"><b>Description</b></td>
		<td align="center"><b>Prix (€)</b></td>
		<td align="center"><b>Quantite</b></td>
		<td align="center"><b>Catégorie</b></td>
		<td align="center"><b>Actions</b></td>
		</tr>
	</thead>

	<tbody ng-repeat="prod in allProd| filter:searchText" bgcolor="azure">
		<td align="center"><b>{{prod.id_produit}}</b></td>
		<td align="center"><b>{{prod.nom}}</b></td>
		<td align="center"><b>{{prod.description}}</b></td>
		<td align="center"><b>{{prod.prix}} €</b></td>
		<td align="center"><b>{{prod.quantite}}</b></td>
		<td align="center"><b>{{prod.categorie.nom}}</b></td>
		<td align="center"><button ng-click="boutonUpdate(prod)" class="btn btn-primary">&nbsp;Modifier &nbsp;</button>
		<button ng-click="bouttonDelete(prod)" class="btn btn-danger">Supprimer</button></td>
	</tbody>
</table>


</body>
</html>