<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>



	<table class="table table-striped" style="text-align: center;">
		<thead>
			<tr bgcolor="grey" style="color: white; font-size: 18pt">
				<td>Nom Produit</td>
				<td>Prix unitaire</td>
				<td>Quantite</td>
				<td>Prix total</td>
			</tr>
		</thead>

		<tbody ng-repeat="lc in allLCOldPanier">
			<td>{{lc.produit.nom}}</td>
			<td>{{lc.produit.prix}}</td>
			<td>{{lc.quantite}}</td>
			<td>{{lc.prix}}</td>
		</tbody>
	</table>




</body>
</html>